*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
.xira1{
    height: 89vh;
    background-color: rgba(45, 58, 75, 0.5);
    padding: 0px 60px;
    width: 43%;
    position: relative;
    margin: 10vh auto 0 auto;
    position: absolute;
    margin-left: 350px;
}
.stak1{
    padding-top: 220px;
    font-size: 32px;
    text-transform: uppercase;   
    color: #fff;
    font-weight: 300;
    margin-left: 240px;
    
}
.sal1{
    margin-right: -15px;
    margin-left: -15px;
}
.asd1{
    width: 100%;
}
.azas1{
    margin-top: 25px;
    background-color: #455871;
    position: relative;
    right: 100px;
    /* padding: 30px; */
    display: block;
    height: 200px;
    
}
.das1{
    margin-top: -205px;
    width: 350px;
    height: 265px;
    margin-left: 400px;
    position: absolute;
    margin-top: -220px;
    background-color: white;
    padding: 20px;
}